/** 
 * Create a master SCSS file for the responsive grid
 */


@import "reset";
@import "debug-breakpoints";
@import "responsive-grid";
@import "responsive-content"; // show/hide content based on breakpoints

body { 
    padding-top: 50px; 
    
    font-family: sans-serif;
    font-size: 14px;
    
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
}

h1, h2, h3, h4 {
    padding-bottom: 20px;
    font-weight: 200;
}

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

p {
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

em { 
    font-style: italic; 
}

